body {
       background-color:#6599FF;
	   text-align:center;
	   padding:10px;
       align-content: center;
       align-items: center;
       text-decoration: none;
}

h1 {font-size: 60px;
        color: white;
        text-align:center;
       }

#date {font-size: 20px;
       font-weight:bold;
       color:white;
}