<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
    <system.web>
      <authorization>
        <allow roles="r_flick_Admin"/>
        <deny users="?"/>

      </authorization>
    </system.web>
</configuration>
